@import 'primeicons/primeicons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

@theme {
  --color-brand-primary: #fd9600;
  --color-brand-neutral: #333333;
  --color-brand-bg: #e6e6e6;
  --color-brand-bg-dark: #09090b;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-brand-bg);
}

.my-app-dark body {
  background-color: var(--color-brand-bg-dark);
}
