@import 'primeicons/primeicons.css';
@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import './styles/generated.tailwind-palette.css';
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

@theme {
  --font-sans:
    system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;

  --color-brand-primary: #18b125ff;
  --color-brand-neutral: #272927ff;
  --color-brand-bg: #f3f5f4;
  --color-brand-bg-dark: #272927ff;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--color-brand-bg);
}

.my-app-dark body {
  background-color: var(--color-brand-bg-dark);
}
